
.taskTwo{
    text-align: center;
}
.gallery{
    display:flex;
    justify-content: center;
}
.gallery__item{
    width: 250px;
    height: 350px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
img{
    width:100%;
}
